 #message{
    margin: 5px auto;
    border: solid 1px;
    border-color: grey;
    border-radius: 2px;
    text-align: center;
    width: 95%;
}
#send{
    font-style: italic;
    background-color: lightgreen;
    border-color: lightgreen;
    border-radius: 13px;
    float: right;
}
#field{
	float: left;
	width: 93%;
}	
body{
	padding-top: 20px;
	margin: 0 auto;
	width: 960px;
}
#container{
	width: 100%;
	margin: 0 auto;
}
.clear{
	clear: both;
}
#form{
	width: 90%;
	padding-top: 10px;
	margin: 0 auto;
}
#content{
	width: 90%;
	padding: 3px;
	margin: 0 auto;
}
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}