doctype html
html
	head
		title Realtime Chat Application
		script(src='/chat.js')
		script(src='/notify.js')
		script(src='/socket.io/socket.io.js')
		link(rel='stylesheet',href='/css/design.css')
	body
	div#container
		#content(style='height: 300px; overflow-y: scroll;')
		#typing(style='display:none') Someone is typing
		div#form
			input#field(onkeypress='return runScript(event)',onChange='return onChange()')
			input#send(type='button',value='Send')
			.clear